<%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/navigation') %>
  <main>
    <div>
      <h1>List Of Products</h1>
    </div>
    <% if (products.length <1) { %>
    <div>
      <h4>there is no product..</h4>
    </div>
    <% }else{ %>
    <div class="row">
      <% for(let product of products){ %>
      <div class="col-6">
        <div class="card">
          <img src="<%= product.imageUrl %>" class="card-img-top" alt="<%= product.title %>">
          <div class="card-body">
            <h4 class="card-title"><%= product.title %></h4>
            <h6 class="card-title"><%= product.price %></h6>
            <p class="card-text"><%= product.discription %></p>
            <form action="/add-to-cart" method="post">
              <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
          </div>
        </div>
      </div>
      <% } %>
    </div>

    <% } %>
  </main>

  <%- include('../partials/end') %>